parameters:
	ignoreErrors:
		-
			message: "#^Call to an undefined method PreemStudio\\\\Interfail\\\\Extensions\\\\FailuresAllowedForDaysExtension\\:\\:validate\\(\\)\\.$#"
			count: 1
			path: src/Extensions/FailuresAllowedForDaysExtension.php

		-
			message: "#^Call to an undefined method PreemStudio\\\\Interfail\\\\Extensions\\\\FailuresAllowedForExtension\\:\\:validate\\(\\)\\.$#"
			count: 1
			path: src/Extensions/FailuresAllowedForExtension.php

		-
			message: "#^Call to an undefined method PreemStudio\\\\Interfail\\\\Extensions\\\\FailuresAllowedForHoursExtension\\:\\:validate\\(\\)\\.$#"
			count: 1
			path: src/Extensions/FailuresAllowedForHoursExtension.php

		-
			message: "#^Call to an undefined method PreemStudio\\\\Interfail\\\\Extensions\\\\FailuresAllowedForSecondsExtension\\:\\:validate\\(\\)\\.$#"
			count: 1
			path: src/Extensions/FailuresAllowedForSecondsExtension.php

		-
			message: "#^Access to an uninitialized readonly property PreemStudio\\\\Interfail\\\\Interfail\\:\\:\\$id\\.$#"
			count: 1
			path: src/Interfail.php

		-
			message: "#^Parameter \\#3 \\$sleepMilliseconds of function retry expects int, Closure\\|int given\\.$#"
			count: 1
			path: src/Interfail.php

		-
			message: "#^Using nullsafe property access on non\\-nullable type PreemStudio\\\\Interfail\\\\Data\\\\Retry\\. Use \\-\\> instead\\.$#"
			count: 3
			path: src/Interfail.php
